Repository bluesky/scanspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black --check
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy
        types: [python]
        require_serial: true

WIP
  .vscode/launch.json
  src/scanspec/core.py
  src/scanspec/specs.py
  tests/test_serialization.py
Due: black, flake8, mypy

WIP2
  src/scanspec/core.py
  src/scanspec/specs.py
Due: black, flake8, mypy

Relock and bump dependencies
  Pipfile.lock
Due: none

Test 3.10 and 3.11 in CI
  .github/workflows/code.yml
Due: none

Dummy commit
  setup.py
Due: black, mypy

Revert dummy commit
  setup.py
Due: black, mypy

Restrict scipy and matplotlib versions
  Pipfile.lock
  setup.cfg
Due: none

Bump version again
  Pipfile.lock
  setup.cfg
Due: none

Rename python3-pip-skeleton -> scanspec
  .devcontainer/Dockerfile
  .github/CONTRIBUTING.rst
  README.rst
  docs/conf.py
  docs/developer/how-to/make-release.rst
  docs/developer/tutorials/dev-install.rst
  docs/index.rst
  docs/user/how-to/run-container.rst
  docs/user/reference/api.rst
  docs/user/tutorials/installation.rst
  pyproject.toml
  src/scanspec/__init__.py
  src/scanspec/__main__.py
  tests/test_cli.py
Due: black, flake8, mypy

Fix tests with new dependencies
  README.rst
  pyproject.toml
  src/scanspec/cli.py
  src/scanspec/sphinxext.py
  tests/test_boilerplate_removed.py
  tests/test_cli.py
Due: black, flake8, mypy

Downgrade mypy and fix issues
  pyproject.toml
  src/scanspec/core.py
Due: black, flake8, mypy

Upgrade mypy again
  pyproject.toml
  src/scanspec/core.py
Due: black, flake8, mypy

Remove wheel check
  .github/workflows/code.yml
Due: none

Fix docs build following migration
  docs/conf.py
  docs/genindex.rst
  docs/how-to/contribute.rst
  docs/index.rst
  docs/reference/contributing.rst
Due: black, flake8, mypy

Install extra depdencies for tests
  .github/workflows/code.yml
Due: none

Install all extras in docs CI
  .github/workflows/docs.yml
Due: none

Remove conda from CI
  .github/workflows/code.yml
Due: none

Remove esbonio config
  .vscode/settings.json
Due: none

Downgrade matplotlib
  pyproject.toml
Due: none

Fix toctree in docs
  docs/index.rst
Due: none

Remove anaconda badge
  README.rst
Due: none

Fix main branch reference by badges
  README.rst
Due: none

Fix badges in README (#70)
  README.rst
Due: none

Convert service to a REST API using FastApi
  src/scanspec/service.py
Due: black, flake8, mypy

WIP on restifying
  src/scanspec/service.py
Due: black, flake8, mypy
