Repository bluesky/scanspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black --check
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy
        types: [python]
        require_serial: true

Move toctree around to make docs links clickable
  docs/_static/theme_overrides.css
  docs/explanations.rst
  docs/how-to.rst
  docs/index.rst
  docs/reference.rst
  docs/tutorials.rst
Due: none

Tweak pre-commit output
  .github/workflows/code.yml
  .pre-commit-config.yaml
Due: none

Fix INTERNALERROR> coverage.exceptions.CoverageException
  setup.cfg
Due: none

Use published action
  .github/setup_action/action.yml
  .github/workflows/code.yml
  .github/workflows/docs.yml
  setup.cfg
Due: none

Fix test warning
  tests/test_cli.py
Due: black, flake8, mypy

Remove duplicate draw logic
  src/scanspec/plot.py
Due: black, flake8, mypy

Rename dls-python3-skeleton -> scanspec
  .gitremotes
  CONTRIBUTING.rst
  Pipfile
  README.rst
  docs/conf.py
  docs/explanations/why-is-something-so.rst
  docs/how-to/accomplish-a-task.rst
  docs/reference.rst
  docs/reference/api.rst
  docs/tutorials/installation.rst
  setup.cfg
  src/scanspec/__init__.py
  src/scanspec/__main__.py
  src/scanspec/_version_git.py
  src/scanspec/hello.py
  tests/test_scanspec.py
Due: black, flake8, mypy

Delete CHANGELOG.rst
  CHANGELOG.rst
Due: none

Update versions
  Pipfile.lock
  schema.gql
  setup.cfg
Due: none

Fix test warnings
  tests/test_cli.py
Due: black, flake8, mypy

Allow concats of Spec and Frame objects with the same axes in different orders
  src/scanspec/core.py
  src/scanspec/specs.py
Due: black, flake8, mypy

Fix formatting
  src/scanspec/core.py
  src/scanspec/specs.py
Due: black, flake8, mypy

Be explicit about where to look for tests
  Pipfile.lock
  setup.cfg
Due: none

Update to use setuptools_scm
  .gitattributes
  .gitignore
  Pipfile.lock
  docs/reference/api.rst
  pyproject.toml
  setup.cfg
  setup.py
  src/scanspec/__init__.py
  src/scanspec/_version_git.py
  src/scanspec/sphinxext.py
Due: black, flake8, mypy

Simplify
  pyproject.toml
  setup.cfg
  setup.py
Due: black, mypy

Setup requires wrangling
  pyproject.toml
  setup.cfg
Due: none

Update black
  Pipfile.lock
  src/scanspec/core.py
  src/scanspec/service.py
  src/scanspec/specs.py
  tests/test_cli.py
Due: black, flake8, mypy

Fix docs build by pinning sphinx
  Pipfile.lock
  setup.cfg
  src/scanspec/core.py
Due: black, flake8, mypy

Fix link to github releases
  CONTRIBUTING.rst
Due: none

Fix links in docs
  docs/tutorials/graphql-service.rst
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

Convert from using apischema to pydantic
  Pipfile.lock
  setup.cfg
  src/scanspec/core.py
  src/scanspec/regions.py
  src/scanspec/specs.py
Due: black, flake8, mypy

Convert service to a REST API using FastApi
  Pipfile
  Pipfile.lock
  setup.cfg
  src/scanspec/service.py
Due: black, flake8, mypy

Remove unused import
  src/scanspec/regions.py
Due: black, flake8, mypy

Convert service dataclasses to pydantic dataclasses
  src/scanspec/service.py
Due: black, flake8, mypy

Use dataclasses over BaseModel
  src/scanspec/regions.py
  src/scanspec/specs.py
  tests/test_service.py
Due: black, flake8, mypy
